<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="AgilentN6841A.exe" Guid="{142BD011-8A55-4A1D-80AA-79A15200E19F}">
                <File Id="AgilentN6841A.exe" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.exe" />
            </Component>
            <Component Id="AgilentN6841A.exe.config" Guid="{9EA7390A-252B-4F54-B6A5-20B12B72AEB2}">
                <File Id="AgilentN6841A.exe.config" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.exe.config" />
            </Component>
            <Component Id="AgilentN6841A.pdb" Guid="{0801A240-9AE6-4FFD-86D6-55F9A4B27612}">
                <File Id="AgilentN6841A.pdb" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.pdb" />
            </Component>
            <Component Id="General.exe" Guid="{BAA0DB6E-C96E-4B87-89AA-39FB186AED4F}">
                <File Id="General.exe" KeyPath="yes" Source="$(var.SourceDir)\General.exe" />
            </Component>
            <Component Id="General.exe.config" Guid="{DBF222CF-150F-45FD-8FB9-63B76D425C1A}">
                <File Id="General.exe.config" KeyPath="yes" Source="$(var.SourceDir)\General.exe.config" />
            </Component>
            <Component Id="General.pdb" Guid="{BFB05976-A13F-413F-9B17-A5D159BFFC23}">
                <File Id="General.pdb" KeyPath="yes" Source="$(var.SourceDir)\General.pdb" />
            </Component>
            <Component Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" Guid="{1E787535-9D81-4C75-80AC-F3A0261A7A8C}">
                <File Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{96D77472-E244-49BB-8F09-2F7769FB52FD}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.xml" Guid="{DC388A88-B586-4CD0-84DF-28B551DB0036}">
                <File Id="Newtonsoft.Json.xml" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="Preselctor.exe" Guid="{8F2113A5-71B7-453F-AF58-B8E1E0BA524E}">
                <File Id="Preselctor.exe" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.exe" />
            </Component>
            <Component Id="Preselctor.exe.config" Guid="{91720F88-B968-4F2F-978D-1331E15B25E1}">
                <File Id="Preselctor.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.exe.config" />
            </Component>
            <Component Id="Preselctor.pdb" Guid="{90715B1F-95C6-4BBE-B0E4-4A7879A8DD55}">
                <File Id="Preselctor.pdb" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.pdb" />
            </Component>
            <Component Id="Service.exe.config" Guid="{A7417456-B456-4868-9D60-2F4FB5EEC613}">
                <File Id="Service.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Service.exe.config" />
            </Component>
            <Component Id="Service.pdb" Guid="{D27D2ADC-762B-4B67-AE69-6B72B2EDF0EC}">
                <File Id="Service.pdb" KeyPath="yes" Source="$(var.SourceDir)\Service.pdb" />
            </Component>
            <Component Id="Service.vshost.exe" Guid="{B213363E-F4EE-44B5-A10F-4B6FB1A3B148}">
                <File Id="Service.vshost.exe" KeyPath="yes" Source="$(var.SourceDir)\Service.vshost.exe" />
            </Component>
            <Component Id="Service.vshost.exe.config" Guid="{A74522CD-F939-4540-BB2D-FAECEE064CE1}">
                <File Id="Service.vshost.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Service.vshost.exe.config" />
            </Component>
            <Component Id="Service.vshost.exe.manifest" Guid="{27B2DE8F-9E27-47F0-8C38-630EE263B59B}">
                <File Id="Service.vshost.exe.manifest" KeyPath="yes" Source="$(var.SourceDir)\Service.vshost.exe.manifest" />
            </Component>
            <Component Id="UnitTests.dll" Guid="{D44E6CE0-FA91-4CFD-85E8-630205349CC0}">
                <File Id="UnitTests.dll" KeyPath="yes" Source="$(var.SourceDir)\UnitTests.dll" />
            </Component>
            <Component Id="UnitTests.pdb" Guid="{AE7B6A2E-7EB9-495D-A1F3-085A47A95DD5}">
                <File Id="UnitTests.pdb" KeyPath="yes" Source="$(var.SourceDir)\UnitTests.pdb" />
            </Component>
            <Directory Id="config" Name="config">
                <Component Id="Antenna.json" Guid="{51641746-3528-430C-8A86-888B11566C88}">
                    <File Id="Antenna.json" KeyPath="yes" Source="$(var.SourceDir)\config\Antenna.json" />
                </Component>
                <Component Id="config.json" Guid="{B3384C36-9595-43F1-85AC-11DA72F5EDDB}">
                    <File Id="config.json" KeyPath="yes" Source="$(var.SourceDir)\config\config.json" />
                </Component>
                <Component Id="CotsSensor.json" Guid="{80134A74-A89D-4D1E-A95D-2384AD4A4EF8}">
                    <File Id="CotsSensor.json" KeyPath="yes" Source="$(var.SourceDir)\config\CotsSensor.json" />
                </Component>
                <Component Id="LocMessage.json" Guid="{AFF7D064-9D31-40B3-A69C-D56B10462855}">
                    <File Id="LocMessage.json" KeyPath="yes" Source="$(var.SourceDir)\config\LocMessage.json" />
                </Component>
                <Component Id="Preselector.json" Guid="{E6112D5E-4C3F-4961-89C0-ABF826342067}">
                    <File Id="Preselector.json" KeyPath="yes" Source="$(var.SourceDir)\config\Preselector.json" />
                </Component>
                <Component Id="spn43Cal.json" Guid="{470CA0BD-27F4-4EEF-B34C-9D0A11A52717}">
                    <File Id="spn43Cal.json" KeyPath="yes" Source="$(var.SourceDir)\config\spn43Cal.json" />
                </Component>
                <Component Id="spn43Sweep.json" Guid="{0E14F870-00BE-4D8D-8432-62BBA6FEEFE9}">
                    <File Id="spn43Sweep.json" KeyPath="yes" Source="$(var.SourceDir)\config\spn43Sweep.json" />
                </Component>
                <Component Id="SysMessage.json" Guid="{21B9280A-7ED3-486A-BCD1-56D24ED5EBAE}">
                    <File Id="SysMessage.json" KeyPath="yes" Source="$(var.SourceDir)\config\SysMessage.json" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="AgilentN6841A.exe" />
            <ComponentRef Id="AgilentN6841A.exe.config" />
            <ComponentRef Id="AgilentN6841A.pdb" />
            <ComponentRef Id="General.exe" />
            <ComponentRef Id="General.exe.config" />
            <ComponentRef Id="General.pdb" />
            <ComponentRef Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="Newtonsoft.Json.xml" />
            <ComponentRef Id="Preselctor.exe" />
            <ComponentRef Id="Preselctor.exe.config" />
            <ComponentRef Id="Preselctor.pdb" />
            <ComponentRef Id="Service.exe.config" />
            <ComponentRef Id="Service.pdb" />
            <ComponentRef Id="Service.vshost.exe" />
            <ComponentRef Id="Service.vshost.exe.config" />
            <ComponentRef Id="Service.vshost.exe.manifest" />
            <ComponentRef Id="UnitTests.dll" />
            <ComponentRef Id="UnitTests.pdb" />
            <ComponentRef Id="Antenna.json" />
            <ComponentRef Id="config.json" />
            <ComponentRef Id="CotsSensor.json" />
            <ComponentRef Id="LocMessage.json" />
            <ComponentRef Id="Preselector.json" />
            <ComponentRef Id="spn43Cal.json" />
            <ComponentRef Id="spn43Sweep.json" />
            <ComponentRef Id="SysMessage.json" />
        </ComponentGroup>
    </Fragment>
</Wix>