<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="AgilentN6841A.exe" Guid="{87733FB8-4983-4475-8F1F-7FD953C64E3B}">
                <File Id="AgilentN6841A.exe" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.exe" />
            </Component>
            <Component Id="AgilentN6841A.exe.config" Guid="{C46D8240-31D4-4A3C-B54B-03A00DAA6300}">
                <File Id="AgilentN6841A.exe.config" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.exe.config" />
            </Component>
            <Component Id="AgilentN6841A.pdb" Guid="{EE5CF4D4-173B-4C8A-99CE-C15B3133392E}">
                <File Id="AgilentN6841A.pdb" KeyPath="yes" Source="$(var.SourceDir)\AgilentN6841A.pdb" />
            </Component>
            <Component Id="General.exe" Guid="{7023FC95-DF07-49D7-AD59-183ECA1E36C5}">
                <File Id="General.exe" KeyPath="yes" Source="$(var.SourceDir)\General.exe" />
            </Component>
            <Component Id="General.exe.config" Guid="{CA416632-1A2D-45AF-98B9-97C04B2B1DC9}">
                <File Id="General.exe.config" KeyPath="yes" Source="$(var.SourceDir)\General.exe.config" />
            </Component>
            <Component Id="General.pdb" Guid="{05F3C4ED-9685-4268-B4B5-4FE2B4E659BB}">
                <File Id="General.pdb" KeyPath="yes" Source="$(var.SourceDir)\General.pdb" />
            </Component>
            <Component Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" Guid="{1AFB23DE-0ED7-40EF-A35F-ABAE4BBB02CC}">
                <File Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{E1E413C1-8FB8-44F0-8B8F-5E4A4D8D4467}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.xml" Guid="{B768A8A0-C70F-4FF1-B7F6-0B6D3D59FD5A}">
                <File Id="Newtonsoft.Json.xml" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="Preselctor.exe" Guid="{E72C7F9F-C005-4365-95F0-85CAE228184F}">
                <File Id="Preselctor.exe" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.exe" />
            </Component>
            <Component Id="Preselctor.exe.config" Guid="{88D93355-42F1-4A0D-925C-3A3C79AE9DEB}">
                <File Id="Preselctor.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.exe.config" />
            </Component>
            <Component Id="Preselctor.pdb" Guid="{D41BD79D-FF0E-4610-A85B-C122D27C0699}">
                <File Id="Preselctor.pdb" KeyPath="yes" Source="$(var.SourceDir)\Preselctor.pdb" />
            </Component>
            <Component Id="Service.exe.config" Guid="{AB32C2B3-C832-4F75-A5EC-CFE0FC195D3F}">
                <File Id="Service.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Service.exe.config" />
            </Component>
            <Component Id="Service.pdb" Guid="{64C9E131-A2CF-4FEE-B27C-83840DB8D159}">
                <File Id="Service.pdb" KeyPath="yes" Source="$(var.SourceDir)\Service.pdb" />
            </Component>
            <Component Id="Service.vshost.exe" Guid="{FB0E0BEE-F347-4D87-8261-1F351C97F258}">
                <File Id="Service.vshost.exe" KeyPath="yes" Source="$(var.SourceDir)\Service.vshost.exe" />
            </Component>
            <Component Id="Service.vshost.exe.config" Guid="{C1F896A2-9E84-4D4C-87C1-2E7E4DAEB107}">
                <File Id="Service.vshost.exe.config" KeyPath="yes" Source="$(var.SourceDir)\Service.vshost.exe.config" />
            </Component>
            <Component Id="UnitTests.dll" Guid="{DAB94BAC-3B03-47CB-B443-B787D1D93576}">
                <File Id="UnitTests.dll" KeyPath="yes" Source="$(var.SourceDir)\UnitTests.dll" />
            </Component>
            <Component Id="UnitTests.pdb" Guid="{A96CC73D-DCE3-4545-9935-2A8F36C0ACE9}">
                <File Id="UnitTests.pdb" KeyPath="yes" Source="$(var.SourceDir)\UnitTests.pdb" />
            </Component>
            <Directory Id="config" Name="config">
                <Component Id="Antenna.json" Guid="{D92E0DD9-F4D9-466D-AE22-C2EA321AFC30}">
                    <File Id="Antenna.json" KeyPath="yes" Source="$(var.SourceDir)\config\Antenna.json" />
                </Component>
                <Component Id="config.json" Guid="{2AF1A052-2CB7-41A1-95A5-3D7E38677A14}">
                    <File Id="config.json" KeyPath="yes" Source="$(var.SourceDir)\config\config.json" />
                </Component>
                <Component Id="CotsSensor.json" Guid="{B5488816-EE62-4B4C-B28C-4AA039CF4D71}">
                    <File Id="CotsSensor.json" KeyPath="yes" Source="$(var.SourceDir)\config\CotsSensor.json" />
                </Component>
                <Component Id="LocMessage.json" Guid="{D3DC40EE-8683-4D4C-B0EF-819F4AD6473D}">
                    <File Id="LocMessage.json" KeyPath="yes" Source="$(var.SourceDir)\config\LocMessage.json" />
                </Component>
                <Component Id="Preselector.json" Guid="{9BF76268-188B-4596-9368-2D2AAD820937}">
                    <File Id="Preselector.json" KeyPath="yes" Source="$(var.SourceDir)\config\Preselector.json" />
                </Component>
                <Component Id="spn43Cal.json" Guid="{D4A59911-38F1-433A-B259-57143905C570}">
                    <File Id="spn43Cal.json" KeyPath="yes" Source="$(var.SourceDir)\config\spn43Cal.json" />
                </Component>
                <Component Id="spn43Sweep.json" Guid="{CAEC69B9-DDFD-41D2-BD97-5E2706AA0651}">
                    <File Id="spn43Sweep.json" KeyPath="yes" Source="$(var.SourceDir)\config\spn43Sweep.json" />
                </Component>
                <Component Id="SysMessage.json" Guid="{300C6CD7-86BF-4CB7-AB03-5964233794B1}">
                    <File Id="SysMessage.json" KeyPath="yes" Source="$(var.SourceDir)\config\SysMessage.json" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="AgilentN6841A.exe" />
            <ComponentRef Id="AgilentN6841A.exe.config" />
            <ComponentRef Id="AgilentN6841A.pdb" />
            <ComponentRef Id="General.exe" />
            <ComponentRef Id="General.exe.config" />
            <ComponentRef Id="General.pdb" />
            <ComponentRef Id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="Newtonsoft.Json.xml" />
            <ComponentRef Id="Preselctor.exe" />
            <ComponentRef Id="Preselctor.exe.config" />
            <ComponentRef Id="Preselctor.pdb" />
            <ComponentRef Id="Service.exe.config" />
            <ComponentRef Id="Service.pdb" />
            <ComponentRef Id="Service.vshost.exe" />
            <ComponentRef Id="Service.vshost.exe.config" />
            <ComponentRef Id="UnitTests.dll" />
            <ComponentRef Id="UnitTests.pdb" />
            <ComponentRef Id="Antenna.json" />
            <ComponentRef Id="config.json" />
            <ComponentRef Id="CotsSensor.json" />
            <ComponentRef Id="LocMessage.json" />
            <ComponentRef Id="Preselector.json" />
            <ComponentRef Id="spn43Cal.json" />
            <ComponentRef Id="spn43Sweep.json" />
            <ComponentRef Id="SysMessage.json" />
        </ComponentGroup>
    </Fragment>
</Wix>